#main{
    width: 100vw;
    min-height: 100vh;
    background-color: aqua;
    display: flex;

}
#main>:nth-child(1){
    width: 10%;
    min-height: 300px;
    background-color: white;
    /* border: 1px solid black; */
}
#main>:nth-child(2){
    width: 90%;
    min-height: 300px;
    background-color: white;
}